/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/


/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 70px;
  background-color: #fff;
}


.qaction{
	border-top:1px solid #EFEFEF;
	padding-top:5px;
}
.qaction a {
	margin-right:15px;
	font-size:12px;
}

#content.fullScreen{
  padding: 100px;
}